# Node.js 관련
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 환경 변수
.env
.env.local

# 운영체제에서 생성하는 불필요 파일
.DS_Store
Thumbs.db

# 빌드 결과물
dist/
build/
out/
coverage/

# IDE/에디터 설정
.vscode/
.idea/

# 테스트 또는 로그
*.log
logs/
*.test.js.snap
